 /* Carousel image sizes */
 #hobbyCarousel .carousel-item img {
  width: 100%; /* responsive width */
  height: 500px; /* keep the height fixed height */
  object-fit: cover; /* don't want the image to be distorted */
}

.navbar {
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
font-weight: bold;
background-color: #ffd7b5;
text-align: center;
}


.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  text-align: center;
  padding: 7% 15%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #ffd7b5;
  font-size: 30px;
}

h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: #ffd7b5;
  font-size: 30px;
}

body{background-color: aliceblue;}